<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilosIndex.css">
</head>
<body>
    <h1>Formulario de Nombres</h1>
    <div class="form">
    <form action="/ejercicio2" method="post">
        Nombre 1: <input type="text" name="nombre1" required><br>
        Nombre 2: <input type="text" name="nombre2" required><br>
        Nombre 3: <input type="text" name="nombre3" required><br>
        <input type="submit" value="Enviar">
    </form>
    </div>
    {% if nombre_largo and longitud %}
        <p>El nombre más largo es: {{ nombre_largo }}</p>
        <p>El nombre tiene: {{ longitud }} caracteres</p>
    {% endif %}
</body>
</html>